# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# 환경 변수 파일
.env

# Google Play 서비스 계정 키
sharecalendar-c8a9b-d0fd2059ed50.json

# iOS 개발 파일
ios/.xcode.env
ios/Podfile.lock
ios/WEIN.xcodeproj/
ios/WEIN.xcworkspace/
ios/WEIN/
ios/Podfile.properties.json